body {
  margin: 0px;
}

canvas {
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPDX1YYpvRLxCNRPE0t84yO8mGcSRXxMtidw&usqp=CAU");
background-repeat: no-repeat;
background-size: 115%;
}

img {
  display: none;
}
